#API key for the SMART API
SMART_API_KEY = ""

NETWORKED_DATA_PATH_LAS = ""
NETWORKED_DATA_PATH_LIVE_TRACKER = ""

#Snowflake connection
ACCOUNT = ""
USER = ""
AUTHENTICATOR = "externalbrowser"
ROLE = "ANALYST"
WAREHOUSE = "NCL_ANALYTICS_XS"

DATABASE = "DEV__MODELLING"
SCHEMA = "UEC__DAILY"

#Destination tables
TABLE_SMART = "SMART"
TABLE_LAS = "LAS_HANDOVER"
TABLE_MO = "TRACKER_DAILY_DELAY"
TABLE_P2 = "TRACKER_P2_CAPACITY"
TABLE_VW = "TRACKER_VIRTUAL_WARD"